.pp {
  text-align: center;
  background-color: red;
  border: 10px solid rgb(0, 255, 98);
}
.p {
  text-align: center;
  background-color: red;
  border: 10px solid red;
}
body{

  background-color: gray;
}