.p {
	margin-top: 10px;
	text-align: left;
	background: rgba(255, 255, 255, 0.9);
	height: 300px;
	border: 5px solid rgb(233, 236, 233);
	padding: 15px;
}
.pp {
	margin-top: 10px;
	text-align: left;
	background: rgba(255, 255, 255, 0.9);
	height: 300px;
	border: 5px solid rgb(233, 236, 233);
	padding: 15px;
}
.ppp {
	margin-top: 10px;
	text-align: left;
	background: rgba(255, 255, 255, 0.9);
	height: 300px;
	border: 5px solid rgb(233, 236, 233);
	padding: 15px;
}

body {
	background-color: rgb(255, 255, 255);

	color: black;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	text-align: left;
}
